@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 59, 63, 69;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));

  .app-container {
    height: 100%;
    width: 100%;
    margin-top: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(var(--foreground-rgb));
    font-size: 23px;

    .ant-input-number-group-addon {
      color: rgb(var(--foreground-rgb));
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
